# Python environments
.venv/
.venv-*/
__pycache__/
*.py[cod]

# testing
.pytest_cache/
.ruff_cache/

# production/static output
/staticfiles

# local Django state
*.sqlite3
/media

# misc
.DS_Store
.env
