<a class="block py-1.5 transition hover:text-gold" href="{% url 'home' %}">Home</a>
<a class="block py-1.5 transition hover:text-gold" href="{% url 'about' %}">About</a>
<a class="block py-1.5 transition hover:text-gold" href="{% url 'areas_of_focus' %}">Strategic Focus</a>
<a class="block py-1.5 transition hover:text-gold" href="{% url 'team' %}">Leadership &amp; Governance</a>
<a class="block py-1.5 transition hover:text-gold" href="{% url 'news' %}">Resources</a>
<a class="block py-1.5 transition hover:text-gold" href="{% url 'blog_list' %}">Blog</a>
